listening-port=3478
tls-listening-port=5349
external-ip=${VPS_PUBLIC_IP}
realm=${TURN_DOMAIN}
server-name=${TURN_DOMAIN}

fingerprint
lt-cred-mech
user=${TURN_USERNAME}:${TURN_PASSWORD}

min-port=49152
max-port=65535
no-cli
no-tlsv1
no-tlsv1_1

cert=/etc/coturn/certs/fullchain.pem
pkey=/etc/coturn/certs/privkey.pem
